.advertisement {
  height: 354px;
  vertical-align: middle;
}

.advertisement-image {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.advertisement-header {
  color: white;
  text-align: center;
  font-size: 32px;
  margin-bottom: 0px;
  margin-top: 16px;
}

.advertisement-p {
  color: white;
  text-align: center;
  font-size: 22px;
  margin-top: 16px;
}

@media (min-width: 600px) and (max-width: 1299px) {
  .advertisement-header {
    font-size: 36px;
  }

  .advertisement-p {
    font-size: 26px;
  }
}

@media (min-width: 1300px) {
  .advertisement-p {
    font-size: 26px;
  }
}
