.reminder {
  height: 354px;
  vertical-align: middle;
  margin: 30px 0 20px 0;
}

.reminder-image {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.reminder-header {
  color: white;
  text-align: center;
  font-size: 32px;
  margin-bottom: 0px;
  margin-top: 16px;
}

.reminder-p {
  color: white;
  text-align: center;
  font-size: 22px;
  margin-top: 16px;

  strong {
    font-weight: 700;
    color: white;
    font-size: 22px;
  }
}

@media (min-width: 600px) and (max-width: 1299px) {
  .reminder-header {
    font-size: 36px;
  }

  .reminder-p {
    font-size: 26px;

    strong {
      font-size: 26px;
    }
  }
}

@media (min-width: 1300px) {
  .reminder {
    display: flex;
    height: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
  }

  .reminder-image {
    padding: 0;
    margin: 60px;
  }

  .reminder-header {
    text-align: left;
  }
  
  .reminder-p {
    font-size: 26px;

    strong {
      font-size: 26px;
    }
  }
}
