.advertisement{
    height: 350px;
    vertical-align: middle;
}

.advertisement-image {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.advertisement-header {
  color: white;
  text-align: center;
  font-size: 32px;
}

.advertisement-p {
  color: white;
  text-align: center;
  font-size: 22px;
}
