.cart-space {
  margin: 10px 0;
  padding: 10px 0;
}

.cart-item-space {
  padding: 10px;
  margin-top: 10px;
  position: relative;
}

.cart-header {
  font-size: 36px;
}

.cart-item-name {
  font-size: 28px;
  text-align: center;
}

.cart-item-quantity {
  font-size: 22px;
  text-align: center;
}

.cart-item-pirce {
  font-size: 36px;
  text-align: center;
  margin: 16px 0;
}

.cart-button-plus,
.cart-button-minus {
  width: 80px;
  height: 36px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.cart-button-remove {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
}

.cart-test {
  text-align: center;
}

.cart-header {
  margin: 38px 0 18px;
}

@media (max-width: 1299px) {
  .basket-proceed-parent {
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
}