.navbar {
    padding: 0;
    margin: 0;
    position: relative;
    height: 65px;
}

.navbar-brand {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.bm-menu-wrap,
.bm-overlay {
    top: 0;
}