.navbar {
  padding: 0;
  margin: 0;
  position: relative;
  height: 65px;
}

.navbar-brand-logo {
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);

  img {
    height: calc(100% - 1px);
  }
}

.navbar-brand {
  display: none;
  font-size: 18px;
  color: white;
}

.menu-item {
  color: white;
  text-decoration: none;
  outline: none;
  font-size: 21px;
  margin-bottom: 6px;
}

.navbar-buttons {
  display: none;
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin-right: 50px;
  margin-top: 18px;
}

.navbar-cart {
  display: none;
  filter: invert(1);
  margin-right: 10px;
  margin-top: 18px;
  margin-left: -50px;
}

.bm-menu-wrap,
.bm-overlay {
  top: 0;
}

@media (min-width: 1300px) {
  .navbar-elements {
    width: 1400px;
    height: 64px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .navbar-brand-logo {
    display: none;
  }

  .navbar-brand {
    display: inline-block;
  }

  .navbar-buttons {
    display: inline-block;
    color: white;
  }

  .navbar-buttons:hover {
    color: white;
    text-decoration: none;
  }

  .navbar-cart {
    display: inline-block;
  }
  
  .navbar-item-counter {
    display: inline-block;
    transform: translateX(20px);
    color: white;
    border-radius: 100%;
    background-color: #e30613;
    width: 27px;
    height: 27px;
    text-align: center;
  }

  .navbar-item-counter-inactive {
    display: none;
  }
}

@media (max-width: 1299px) {
  .logo-img {
    position: absolute;
    top: 0;
    left: 20px;
  }
}
