* {
  font-family: "Lato", sans-serif;
  color: #1f1f1f;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 10px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  outline: none !important;
  border-radius: 0;
}

a, a:hover {
  text-decoration: none;
}

.bg-black {
  background-color: #1f1f1f !important;
}

h1, h2 {
  font-weight: 700 !important;
}

@media (min-width: 1300px) {
  .glowna {
    max-width: 1400px;
    margin: auto;
  }
}
