.product-center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-space {
  margin: 10px;
  padding: 10px;
}

.product-item-space {
  padding: 10px;
  margin-top: 10px;
}

.product-h1 {
  font-size: 36px;
}

.product-h2 {
  font-size: 28px;
  text-align: center;
}

.product-h3 {
  font-size: 36px;
  margin: 18px 0;
  text-align: center;
}

.product-list {
  list-style-type: square;
  padding-left: 16px;

  li {
    p {
      margin: 6px 0;
      font-weight: 300;
    }
  }

}

.product-p {
  font-size: 18px;
}

.product-button {
  margin-top: 16px;
  font-size: 22px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.product-line {
  display: none;
}

.btn-danger {
  background: #E30613;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (min-width: 600px) and (max-width: 1299px) {
  .product-space {
    margin: 20px;
    padding: 10px;
  }

  .product-item-space {
    padding: 20px;
    margin-top: 20px;
  }

  .product-h1 {
    font-size: 40px;
  }

  .product-h2 {
    font-size: 32px;
  }

  .product-h3 {
    font-size: 40px;
  }

  .product-p {
    font-size: 22px;
  }

  .product-button {
    font-size: 26px;
  }
}

@media (min-width: 1300px) {
  .product-image {
    grid-column-start: second-collumn;
    grid-column-end: span third-collumn;
    grid-row-start: first-row;
    grid-row-end: span last-row;
  }

  .product-item-space {
    display: grid;
    grid-template-columns: [first-collumn] 50px [second-collumn] 240px [third-collumn] 50px [fourh-collumn] 450px [fifth-collumn] 1px [sixth-collumn] 50px [seventh-collumn] 330px [last-collumn];
    grid-template-rows: [first-row] 44px [second-row] 36px [third-row] 60px [fourh-row] 12px [fifth-row] 60px [sixth-row] 12px [last-row];
    justify-content: center;
    padding-right: 50px;
  }

  .product-h1 {
    font-size: 62px;
  }

  .product-h2 {
    font-size: 36px;
    grid-column-start: fourh-collumn;
    grid-column-end: span fifth-collumn;
    grid-row-start: first-row;
    grid-row-end: span second-row;
    margin-block-start: 0;
  }

  .product-h3 {
    font-size: 36px;
    grid-column-start: seventh-collumn;
    grid-column-end: span last-collumn;
    grid-row-start: first-row;
    grid-row-end: span second-row;
    margin-block-start: 0;
  }

  .product-list {
    grid-column-start: fourh-collumn;
    grid-column-end: span fifth-collumn;
    grid-row-start: second-row;
    grid-row-end: span last-row;
  }

  .product-p {
    font-size: 26px;
    margin-block-start: 0;
    margin-block-end: 8px;
  }

  .product-button {
    font-size: 26px;
    padding-top: 10px;
    margin: 0;
  }

  .product-more {
    grid-column-start: seventh-collumn;
    grid-column-end: span last-collumn;
    grid-row-start: third-row;
    grid-row-end: span fourh-row;
  }

  .product-add {
    grid-column-start: seventh-collumn;
    grid-column-end: span last-collumn;
    grid-row-start: fifth-row;
    grid-row-end: span sixth-row;
  }

  .product-line {
    display: initial;
    grid-column-start: fifth-collumn;
    grid-column-end: span sixth-collumn;
    grid-row-start: first-row;
    grid-row-end: span last-row;
    border-left: 1px solid #1F1F1F;
    height: 80%;
    align-self: center;
  }
}
