// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 320px, // mobile
  sm: 576px,
  md: 768px, // tablet
  lg: 992px,
  xl: 1400px // desktop
);